@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);


body{
	font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	font-size: 16px;
	font-weight: 300;
}

.tag-line{
	display: none;
}

body a:link,
body a:visited{
	text-decoration: none;
	color: #0000AA;
}

body a:hover,
body a:focus{
	color: #0000EE;
}

body main{
	background-image: url("../img/ricepaper_v3.png");
}

h1,
h2,
h3{
	font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	font-weight: 300;
}

h1{
	font-size: 300%;
	margin: 0;
}

h2,
h3{
	color: #505050;
}

h2{
	font-size: 150%;
	margin: 0px;
}

h3{
	font-size: 125%
}

header{
	padding: 1em;
	border-bottom: solid;
	border-bottom-width: 5px;
	border-bottom-color: #EA4A00;
	color: #FFFFFF;
	background-color: #FA5A0F;
}

header p{
	font-size: 120%;
	color: #EEEEEE;
	margin: 0;
}

#info{
	padding: 1em;
}

#menu{
	padding: 1em;
	background-color: rgba(207,205,140,0.5);
	margin: 0;
}

#menu dt{
	font-weight: 400;
}

#menu dd{
	font-size: 80%;
	font-style: italic;
	margin-left: 1em; 
	margin-bottom: 1em;
}

#about{
	padding: 1em;
}

footer{
	padding:1em;
	background-color: #FC892F;
	border-top: solid;
	border-top-width: 5px;
	border-top-color: #EC791F;
	text-align: right;
	font-size: 80%; 
}

nav ul{
	padding: 0;
	margin: 0;
}

nav li{
	list-style: none;
	display: inline-block;
	padding: 0.5em;
	margin-right: 1em;
}

nav li a:link{
	color: #55E;
}
nav li a:hover,
nav li a:focus{
	color: #0000EE;
}

.container-fluid{
	padding: 0;
}

@media (min-width: 992px) {
	body{
		font-size: 18px;
		background-image: url("../img/background.jpg");
		background-size: cover;
		background-attachment: fixed;
	}

	body main{
		margin-right: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
		background-image: url("../img/ricepaper_v3.png");
		opacity: 0.9;
	}

	.tag-line{
		display: inline;
	}

	.container-fluid{
		margin-left: 30%;
	}

	nav{
	position: absolute;
	top: 20px;
	right: 10px;
	}

}





